<h1>New Post</h1>

<form method="post" action="/posts">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="body">Body</label>
    <textarea id="body" name="body"></textarea>
  </div>
  <input type="submit" value="create post">
</form>
